/IaC_ftptomongo/service-account
/IaC_ftptomongo/service-account/key-file.json
/IaC_ftptomongo/service-account/smooth-verve-400915-9cbffa44b988.json
/IaC_ftptomongo/service-account/smooth-verve-400915-fe3fddd0f8c3.json
/IaC_ftptomongo/.terraform/providers/registry.terraform.io/hashicorp/google/5.0.0/windows_amd64
/ftptomongo/~
/ftptomongo/.pytest_cache
/ftptomongo/__pycache__
/IaC_ftptomongo/key-file.json
/IaC_ftptomongo/.terraform/providers/registry.terraform.io/hashicorp/google/5.0.0/windows_amd64/terraform-provider-google_v5.0.0_x5.exe