{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %}{% block content%}
<center>

  <img

    src="{{ url_for('static', filename= 'images/DanilKabanov_ss.jpg') }}"  

    alt="me"

    height="200px"

  />

<h1> Hello!</h1>

<h2> My name is Danil Kabanov and I am an Engineering Manager. </h2>  
  
<p> Visit my profile <br /> at  <a href="https://www.linkedin.com/in/dankabanov/"> LinkedIn </a> </p>

{% endblock %}