{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}">
{% endblock %}
{% block content %}
    <div class="center"> <!-- Optional: Add a container to center the image -->
        <h1>Our home entrance</h1> <!-- Add the title -->
        <img id="cctv-image" src="data:image/jpeg;base64,{{ picture_data }}" width="640" height="480" alt="CCTV Image">
    </div>

    <script>
        function refreshImage() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var image = document.getElementById('cctv-image');
                        image.src = "data:image/jpeg;base64," + xhr.responseText;
                    } else {
                        console.error('Failed to fetch image:', xhr.status, xhr.statusText);
                    }
                }
            };
            xhr.open('GET', '/fetch_image', true);
            xhr.send();
        }

        // Refresh the image every 5 seconds
        setInterval(refreshImage, 5000);

        // Initial image load
        refreshImage();
    </script>
{% endblock %}
